@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  /* Theme 1 Backgrounds */

  /* main background */
  --clr-team1-bg--500: hsl(222, 26%, 31%);
  /* toggle background, keypad background */
  --clr-team1-bg--700: hsl(223, 31%, 20%);
  /* screen background */
  --clr-team1-bg--900: hsl(224, 36%, 15%);

  /* Theme 1 Keys */

  /* key background */
  --clr-team1-key--100: hsl(225, 21%, 49%);
  /* key shadow */
  --clr-team1-key--300: hsl(224, 28%, 35%);
  /* key background, toggle */
  --clr-team1-key--500: hsl(6, 63%, 50%);
  /* key shadow */
  --clr-team1-key--600: hsl(6, 70%, 34%);
  /* key background */
  --clr-team1-key--700: hsl(30, 25%, 89%);
  /* key shadow */
  --clr-team1-key--900: hsl(28, 16%, 65%);

  /* Theme 1 Text */

  --clr-team1-text--100: #ffffff;
  --clr-team1-text--300: hsl(221, 14%, 31%);

  /* Theme 2 Backgrounds */

  /* main background */
  --clr-team2-bg--500: hsl(0, 0%, 90%);
  /* toggle background, keypad background */
  --clr-team2-bg--700: hsl(0, 5%, 81%);
  /* screen background */
  --clr-team2-bg--900: hsl(0, 0%, 93%);

  /* Theme 2 Keys */

  /* key background */
  --clr-team2-key--100: hsl(185, 42%, 37%);
  /* key shadow */
  --clr-team2-key--300: hsl(185, 58%, 25%);
  /* key background, toggle */
  --clr-team2-key--500: hsl(25, 98%, 40%);
  /* key shadow */
  --clr-team2-key--600: hsl(25, 99%, 27%);
  /* key background */
  --clr-team2-key--700: hsl(45, 7%, 89%);
  /* key shadow */
  --clr-team2-key--900: hsl(35, 11%, 61%);

  /* Theme 2 Text */

  --clr-team2-text--100: hsl(60, 10%, 19%);
  --clr-team2-text--300: hsl(268, 71%, 12%);

  /* Theme 3 Backgrounds */

  /* main background */
  --clr-team3-bg--700: hsl(268, 75%, 9%);
  /* toggle background, keypad background, screen background */
  --clr-team3-bg--900: hsl(268, 71%, 12%);

  /* Theme 3 Keys */

  /* key background */
  --clr-team3-key--100: hsl(281, 89%, 26%);
  /* key shadow */
  --clr-team3-key--300: hsl(281, 89%, 26%);
  /* key background, toggle */
  --clr-team3-key--500: hsl(176, 100%, 44%);
  /* key shadow */
  --clr-team3-key--600: hsl(177, 92%, 70%);
  /* key background */
  --clr-team3-key--700: hsl(268, 47%, 21%);
  /* key shadow */
  --clr-team3-key--900: hsl(290, 70%, 36%);

  /* Theme 3 Text */

  --clr-team3-text--100: hsl(52, 100%, 62%);
  --clr-team3-text--300: hsl(0, 0, 100%);
  --clr-team3-text--900: hsl(198, 20%, 13%);

  /* Fonts */
  --ff-primary: 'Spartan', sans-serif;
  --fs-primary: 32px;
  --br: 0.7em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-team1-bg--500);
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 0.5fr 1.5fr 4fr 1fr;
  gap: 2rem;
  color: var(--clr-team1-text--100);
  font-family: var(--ff-primary);
  font-weight: 700;
}

.header__container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-size: var(--fs-primary);
}

.toggle__container {
  display: flex;
  align-items: center;
}

.toggle__title {
  margin-right: 2.5rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.toggle {}

.output {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: var(--clr-team1-bg--900);
  border-radius: var(--br);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.keyboard__container {
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: var(--clr-team1-bg--700);
  border-radius: var(--br);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(100px, auto));
}

.btn__holder {
  background-color: brown;
}

.span--two {
  grid-column: span 2;
  background-color: burlywood;
}

.footer {
  grid-column: 1/4;
  grid-row: 5/6;
}