@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

:root {
  /* Theme 1 Backgrounds */

  /* main background */
  --clr-team1-bg--500: hsl(222, 26%, 31%);
  /* toggle background, keypad background */
  --clr-team1-bg--700: hsl(223, 31%, 20%);
  /* screen background */
  --clr-team1-bg--900: hsl(224, 36%, 15%);

  /* Theme 1 Keys */

  /* key background */
  --clr-team1-key--100: hsl(225, 21%, 49%);
  /* key shadow */
  --clr-team1-key--300: hsl(224, 28%, 35%);
  /* key background, toggle */
  --clr-team1-key--500: hsl(6, 63%, 50%);
  /* key shadow */
  --clr-team1-key--600: hsl(6, 70%, 34%);
  /* key background */
  --clr-team1-key--700: hsl(30, 25%, 89%);
  /* key shadow */
  --clr-team1-key--900: hsl(28, 16%, 65%);

  /* Theme 1 Text */

  --clr-team1-text--100: #ffffff;
  --clr-team1-text--300: rgb(68, 75, 90);

  /* Theme 2 Backgrounds */

  /* main background */
  --clr-team2-bg--500: hsl(0, 0%, 90%);
  /* toggle background, keypad background */
  --clr-team2-bg--700: hsl(0, 5%, 81%);
  /* screen background */
  --clr-team2-bg--900: hsl(0, 0%, 93%);

  /* Theme 2 Keys */

  /* key background */
  --clr-team2-key--100: hsl(185, 42%, 37%);
  /* key shadow */
  --clr-team2-key--300: hsl(185, 58%, 25%);
  /* key background, toggle */
  --clr-team2-key--500: hsl(25, 98%, 40%);
  /* key shadow */
  --clr-team2-key--600: hsl(25, 99%, 27%);
  /* key background */
  --clr-team2-key--700: hsl(45, 7%, 89%);
  /* key shadow */
  --clr-team2-key--900: hsl(35, 11%, 61%);

  /* Theme 2 Text */

  --clr-team2-text--100: hsl(60, 10%, 19%);
  --clr-team2-text--300: hsl(268, 71%, 12%);

  /* Theme 3 Backgrounds */

  /* main background */
  --clr-team3-bg--700: hsl(268, 75%, 9%);
  /* toggle background, keypad background, screen background */
  --clr-team3-bg--900: hsl(268, 71%, 12%);

  /* Theme 3 Keys */

  /* key background */
  --clr-team3-key--100: hsl(281, 89%, 26%);
  /* key shadow */
  --clr-team3-key--300: hsl(281, 89%, 26%);
  /* key background, toggle */
  --clr-team3-key--500: hsl(176, 100%, 44%);
  /* key shadow */
  --clr-team3-key--600: hsl(177, 92%, 70%);
  /* key background */
  --clr-team3-key--700: hsl(268, 47%, 21%);
  /* key shadow */
  --clr-team3-key--900: hsl(290, 70%, 36%);

  /* Theme 3 Text */

  --clr-team3-text--100: hsl(52, 100%, 62%);
  --clr-team3-text--300: hsl(0, 0, 100%);
  --clr-team3-text--900: hsl(198, 20%, 13%);

  /* Fonts */
  --ff-primary: 'Spartan', sans-serif;
  --fs-primary: 32px;
  --br: 0.7em;
}


/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-team1-bg--500);
  display: grid;
  grid-template-columns: 2fr minmax(35rem, auto) 2fr;
  grid-template-rows: 1fr 0.5fr 1fr 4fr 1fr;
  gap: 1.5rem;
  color: var(--clr-team1-text--100);
  font-family: var(--ff-primary);
  font-weight: 700;
}

.body--light {
  background-color: var(--clr-team2-bg--500);
  color: var(--clr-team2-text--100);
}

.body--purple {
  background-color: var(--clr-team3-bg--700);
  color: var(--clr-team3-text--100);
}

.header__container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__title {
  font-size: var(--fs-primary);
}

.toggle__container {
  display: flex;
  align-items: flex-end;
}

.toggle__title {
  margin-right: 2.5rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}


.toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4.5em;
}

.toggle__labels {
  display: flex;
  justify-content: space-between;
  padding-block: 0.2rem;
  width: 80%;
  font-size: 0.8rem;
}

.toggle__inputs {
  background-color: var(--clr-team1-bg--700);
  border-radius: 1.6rem;
  display: flex;
  width: 95%;
}

.toggle__inputs--light {
  background-color: var(--clr-team2-bg--700);
}

.toggle__inputs--purple {
  background-color: var(--clr-team3-bg--900);
}

.toggle__inputs input {
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1.5rem;
  margin: auto 0.25em;
}

.toggle__inputs input:checked {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background-color: var(--clr-team1-key--500);
}

.toggle__inputs--light input:checked {
  background-color: var(--clr-team2-key--500);
}

.toggle__inputs--purple input:checked {
  background-color: var(--clr-team3-key--500);
}

.output {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: var(--clr-team1-bg--900);
  border-radius: var(--br);
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: column;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0.7rem 1rem 1.5rem 1rem;
}

.output--light {
  background-color: var(--clr-team2-bg--900);
}

.output--purple {
  background-color: var(--clr-team3-bg--900);
}

.previous-operand {
  color: rgba(255, 255, 255, 0.315);
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.current-operand {
  color: var(--clr-team1-text--100);
  font-size: 2.5rem;
  display: flex;
  align-items: flex-end;
}

.current-operand--light {
  color: var(--clr-team2-text--300);
}

.current-operand--purple {
  color: var(--clr-team3-text--100);
}

input:focus {
  outline: none;
}


.keyboard__container {
  padding: 1.5rem;
  grid-column: 2/3;
  grid-row: 4/5;
  background-color: var(--clr-team1-bg--700);
  border-radius: var(--br);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, minmax(4.2rem, auto));
  gap: 1.2rem;
}

.keyboard__container--light {
  background-color: var(--clr-team2-bg--700);
}

.keyboard__container--purple {
  background-color: var(--clr-team3-bg--900);
}

.span--two {
  grid-column: span 2;
}

.btn {
  color: var(--clr-team1-text--300);
  background-color: var(--clr-team1-key--700);
  font-size: var(--fs-primary);
  font-weight: 700;
  border: 1px solid var(--clr-team1-key--900);
  border-radius: 0.3em;
  outline: none;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn--light {
  color: var(--clr-team2-text--300);
  background-color: var(--clr-team2-key--700);
  border: 1px solid var(--clr-team2-key--900);
}

.btn--purple {
  color: var(--clr-team3-text--100);
  background-color: var(--clr-team3-key--700);
  border: 1px solid var(--clr-team3-key--300);
}

.btn--blue {
  background-color: var(--clr-team1-key--100);
  color: var(--clr-team1-text--100);
  font-size: 1.5rem;
  border: 1px solid var(--clr-team1-key--300);
}

.btn--blue--light {
  background-color: var(--clr-team2-key--100);
  border: 1px solid var(--clr-team2-key--300);
}

.btn--blue--purple {
  background-color: var(--clr-team3-key--100);
  border: 1px solid var(--clr-team3-key--900);
  color: var(--clr-team3-text--300);
}

.btn--red {
  background-color: var(--clr-team1-key--500);
  color: var(--clr-team1-text--100);
  border: 1px solid var(--clr-team1-key--600);

}

.btn--red--light {
  background-color: var(--clr-team2-key--500);
  border: 1px solid var(--clr-team2-key--600);
}

.btn--red--purple {
  background-color: var(--clr-team2-key--500);
  border: 1px solid var(--clr-team2-key--600);
  color: var(--clr-team3-text--900);
}

.footer {
  grid-column: 1/4;
  grid-row: 5/6;
  justify-self: center;
  align-self: center;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.644);
  letter-spacing: 0.05rem;
  font-weight: 100;
}

.attribution--light {
  color: #377f86cc;
}

.attribution--purple {
  color: hsla(52, 100%, 62%, 0.705);
}

.credits_frontend-mentor {
  margin-bottom: 1rem;
}

.credits_link {
  color: var(--clr-team1-text--100);
  text-decoration: none;
}

.credits_link--light {
  color: var(--clr-team2-key--100);
}

.credits_link--purple {
  color: var(--clr-team3-text--100);
}